body {
  background-color: #f8faf9;
}

.card {
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: white;
}

.form-label {
  font-weight: bold;
}

.btn-custom {
  margin-top: 10px;
}

.unavailable {
  color: white !important;
}


/* ลบพื้นหลังของวันที่ถูกเน้น */
.datepicker{
  background-color: white !important;
}

/* CSS to style the datepicker */
.datepicker table tr td.active,
.datepicker table tr td.active:hover {
    background-color: transparent !important; /* Set active date background to transparent */
    outline: none; /* Remove any outline */
}
