table.show, .show td, .show tr, .show th{ 
    width: 50%;
    margin-top: 20px;
    border: 1px solid; 
    border-color: rgb(10, 10, 10);
}

table.top{
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

